BODY {
    FONT-SIZE: 14px; BACKGROUND: #f8f8e8; COLOR: #333; LINE-HEIGHT: 2; FONT-FAMILY: Arial,Helvetica,sans-serif
}
SMALL {
    FONT-SIZE: 12px
}
BODY {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
#header {
    POSITION: relative; HEIGHT: 68px
}
#header #header_location {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; LEFT: 120px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c6c7b9 1px solid; PADDING-TOP: 0px; POSITION: absolute; TOP: 25px
}
#navi {
    BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left top; MARGIN: 0px auto; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 988px; POSITION: relative
}
#navi .b A {
    PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 5px; COLOR: #ffffbb; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#navi .b A:visited {
    PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 5px; COLOR: #ffffbb; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#navi .b A:hover {
    COLOR: #ecec7f
}
#navi .b A.actv {
    BACKGROUND: white; COLOR: black
}
#navi .b A.actv:visited {
    BACKGROUND: white; COLOR: black
}
#header_bar {
    BACKGROUND: #fff; BORDER-BOTTOM: #cdcbbe 1px solid
}
#header_bar_inner {
    FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 980px; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px
}
#header_bar_inner #header_links {
    RIGHT: 0px; BOTTOM: 0px; POSITION: absolute
}
HR {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
FORM {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
P {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
IMG {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
UL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
OL {
    BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
    FONT-SIZE: 14px; COLOR: #333; FONT-FAMILY: Arial,Helvetica,sans-serif
}
SELECT {
    FONT-SIZE: 14px; COLOR: #333; FONT-FAMILY: Arial,Helvetica,sans-serif
}
TEXTAREA {
    FONT-SIZE: 14px; COLOR: #333; FONT-FAMILY: Arial,Helvetica,sans-serif
}
BUTTON {
    FONT-SIZE: 14px; COLOR: #333; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,微软雅黑,黑体
}
A:link {
    COLOR: #06c; TEXT-DECORATION: none
}
A:visited {
    COLOR: #06c; TEXT-DECORATION: none
}
A:hover {
    COLOR: #009; TEXT-DECORATION: underline
}
.enhist A:visited {
    COLOR: #800080
}
.enhist A:hover {
    COLOR: #f00; TEXT-DECORATION: underline
}
A:hover {
    COLOR: #f00; TEXT-DECORATION: underline
}
.left {
    FLOAT: left
}
.right {
    FLOAT: right
}
#header {
    MARGIN: 0px auto; WIDTH: 990px! important
}
#footer {
    MARGIN: 0px auto; WIDTH: 990px! important
}
#container {
    MARGIN: 0px auto; WIDTH: 990px! important
}
#header {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#footer {
    FONT-SIZE: 12px; COLOR: #666; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#footer A {
    COLOR: #666
}
#subheader {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 20px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 948px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#subfooter {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 20px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 948px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#content {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 20px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 948px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#subheader {
    BORDER-BOTTOM-STYLE: none
}
#subheader DIV.links {
    FLOAT: right
}
#subheader .links A {
    FONT-SIZE: 20px; FONT-FAMILY: Arial,微软雅黑,黑体; TEXT-DECORATION: underline
}
#content {
    PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-BOTTOM-STYLE: none
}
#content P {
    WORD-BREAK: break-all; LINE-HEIGHT: 28px
}
#left {
    FLOAT: left; OVERFLOW: hidden; WIDTH: 745px! important
}
#right {
    PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 186px; PADDING-TOP: 0px
}
#right .descr {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #e1e1e1 1px solid; COLOR: #666; PADDING-TOP: 0px
}
#subfooter {
    FONT-SIZE: 12px; BORDER-TOP-STYLE: none
}
.tipMsg {
    FONT-SIZE: 12px; COLOR: #090
}
.errMsg {
    FONT-SIZE: 12px; COLOR: #090
}
.altMsg {
    FONT-SIZE: 12px; COLOR: #090
}
.errMsg {
    PADDING-RIGHT: 3px; PADDING-LEFT: 20px; BACKGROUND: url(../img/error_1.gif) #fee9e1 no-repeat 4px 6px; PADDING-BOTTOM: 0px; COLOR: #e00; PADDING-TOP: 3px
}
.altMsg {
    PADDING-RIGHT: 3px; PADDING-LEFT: 20px; BACKGROUND: url(../img/alert-16_1.gif) #fef8d1 no-repeat 4px 6px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 3px
}
.okMsg {
    PADDING-RIGHT: 3px; PADDING-LEFT: 10px; BACKGROUND: #e7fbc0; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.btn_normal {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
A.btn_normal {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
.btn_normal:visited {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
A.btn_normal:visited .btn_green {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
A.btn_green {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
.btn_green:visited {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
A.btn_green:visited {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/btn_normal_1.gif) #ededed repeat-x 4px center; PADDING-BOTTOM: 5px; BORDER-LEFT: #8d9090 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 30px; TEXT-DECORATION: none; _background: #ededed url(../img/btn_normal_1.gif) repeat-x scroll 4px center
}
.btn_normal:hover {
    BORDER-RIGHT: #8d9090 1px solid; BORDER-TOP: #8d9090 1px solid; BACKGROUND: #ededed; BORDER-LEFT: #8d9090 1px solid; COLOR: #333; BORDER-BOTTOM: #8d9090 1px solid; TEXT-DECORATION: none
}
A.btn_normal:hover {
    BORDER-RIGHT: #8d9090 1px solid; BORDER-TOP: #8d9090 1px solid; BACKGROUND: #ededed; BORDER-LEFT: #8d9090 1px solid; COLOR: #333; BORDER-BOTTOM: #8d9090 1px solid; TEXT-DECORATION: none
}
.btn_green {
    BACKGROUND: url(../img/btn_green_1.jpg) #41b014; CURSOR: pointer; COLOR: #fff; _background: #41b014 url(../img/btn_green_1.jpg) repeat-x scroll 4px center; _padding: 6px 5px 5px 5px
}
.btn_green:visited {
    BACKGROUND: url(../img/btn_green_1.jpg) #41b014; CURSOR: pointer; COLOR: #fff; _background: #41b014 url(../img/btn_green_1.jpg) repeat-x scroll 4px center; _padding: 6px 5px 5px 5px
}
A.btn_green {
    BACKGROUND: url(../img/btn_green_1.jpg) #41b014; CURSOR: pointer; COLOR: #fff; _background: #41b014 url(../img/btn_green_1.jpg) repeat-x scroll 4px center; _padding: 6px 5px 5px 5px
}
A.btn_green:visited {
    BACKGROUND: url(../img/btn_green_1.jpg) #41b014; CURSOR: pointer; COLOR: #fff; _background: #41b014 url(../img/btn_green_1.jpg) repeat-x scroll 4px center; _padding: 6px 5px 5px 5px
}
.btn_green:hover {
    BORDER-RIGHT: #63b02d 1px solid; BORDER-TOP: #63b02d 1px solid; BACKGROUND: #41b014; BORDER-LEFT: #63b02d 1px solid; COLOR: #fff; BORDER-BOTTOM: #63b02d 1px solid; TEXT-DECORATION: none
}
A.btn_green:hover {
    BORDER-RIGHT: #63b02d 1px solid; BORDER-TOP: #63b02d 1px solid; BACKGROUND: #41b014; BORDER-LEFT: #63b02d 1px solid; COLOR: #fff; BORDER-BOTTOM: #63b02d 1px solid; TEXT-DECORATION: none
}
.ipt_normal {
    BORDER-RIGHT: #8d9090 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8d9090 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; BORDER-LEFT: #8d9090 1px solid; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: #8d9090 1px solid; HEIGHT: 26px
}
.input {
    BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 4px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 3px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid
}
.hasPlaceHolder {
    COLOR: #999
}
.form TD {
    PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.form .name {
    VERTICAL-ALIGN: top; WIDTH: 150px; TEXT-ALIGN: right
}
.form .red {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #f00; PADDING-TOP: 0px
}
.form .submit {
    FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
.block {
    BORDER-RIGHT: #d0dbb8 1px solid; BORDER-TOP: #d0dbb8 1px solid; BACKGROUND: #f5fff1; BORDER-LEFT: #d0dbb8 1px solid; BORDER-BOTTOM: #d0dbb8 1px solid; display:none
}
.block .b {
    BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #fff 1px solid
}
.block .t {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #dbe6d8 1px solid
}
.block LI {
    BORDER-BOTTOM: #dbe6d8 1px dotted
}
.line {
    CLEAR: both; BACKGROUND: #e1e1e1; OVERFLOW: hidden; HEIGHT: 1px
}
.blank {
    CLEAR: both; OVERFLOW: hidden; HEIGHT: 10px
}
.blank5 {
    CLEAR: both; OVERFLOW: hidden; HEIGHT: 10px
}
.blank10 {
    CLEAR: both; OVERFLOW: hidden; HEIGHT: 10px
}
.blank {
    HEIGHT: 0px
}
.blank5 {
    HEIGHT: 5px
}
.datagrid LI {
    PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-STYLE: normal
}
.datagrid A {
    PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-STYLE: normal
}
.datagrid I {
    PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-STYLE: normal
}
.datagrid EM {
    PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-STYLE: normal
}
.datagrid I {
    COLOR: olive
}
.datagrid TABLE {
    BORDER-COLLAPSE: collapse
}
.datagrid TD {
    PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
.datagrid TR.head TD {
    PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.datagrid TD {
    LINE-HEIGHT: 35px; BORDER-BOTTOM: #ccc 1px dotted; WHITE-SPACE: nowrap
}
.datagrid OL LI {
    LINE-HEIGHT: 35px; BORDER-BOTTOM: #ccc 1px dotted; WHITE-SPACE: nowrap
}
.datagrid TD IMG {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.datagrid TD A:hover IMG {
    BORDER-LEFT-COLOR: #8d8d8d; BORDER-BOTTOM-COLOR: #8d8d8d; BORDER-TOP-COLOR: #8d8d8d; BORDER-RIGHT-COLOR: #8d8d8d
}
.datagrid EM.m {
    PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 3px; MARGIN-LEFT: 5px; PADDING-TOP: 3px
}
.datagrid UL {
    OVERFLOW: hidden; WIDTH: 743px! important
}
.datagrid UL.ads {
    BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f8f7e5
}
.datagrid UL LI {
    WHITE-SPACE: nowrap
}
.datagrid .head {
    BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BACKGROUND: #c5ec83; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.datagrid .head A {
    FONT-WEIGHT: bold; COLOR: #333
}
.datagrid UL .head {
    BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; LINE-HEIGHT: 35px; BORDER-RIGHT-WIDTH: 0px
}
.datagrid .spar {
    BORDER-TOP: #c5ec83 2px solid; FONT-WEIGHT: bolder; COLOR: #abcd72
}
.pager A {
    BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e1e1e1 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.pager SPAN {
    BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e1e1e1 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.pager A:hover {
    BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none
}
.pager .crnt {
    BACKGROUND: #c5ec83
}
#categories TABLE {
    BORDER-RIGHT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-COLLAPSE: collapse
}
#categories TD {
    BORDER-RIGHT: #e1e1e1 1px solid; BORDER-TOP: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; WIDTH: 20%; LINE-HEIGHT: 30px; BORDER-BOTTOM: #e1e1e1 1px solid
}
#categories H3 {
    PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: url(../img/titlebg1_1.gif) #7cb71e no-repeat right 50%; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 5px 0px; PADDING-TOP: 0px
}
#categories H3 SPAN {
    DISPLAY: inline-block; BACKGROUND: url(../img/dot_1.gif) no-repeat; WIDTH: 10px; MARGIN-RIGHT: 6px; HEIGHT: 13px; _margin: 10px 6px 0 0
}
#categories H3 A {
    COLOR: #333; BOTTOM: 3px; _position: relative
}
#categories I {
    PADDING-LEFT: 2px; FONT-SIZE: 9px; COLOR: #999; FONT-STYLE: normal
}
#categories DIV.s {
    PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 169px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#categories DIV.d {
    PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 169px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#categories DIV.d {
    WIDTH: 79px
}
#categories DIV.sub A {
    MARGIN-RIGHT: 10px
}
#categories .spr {
    BORDER-TOP: #ccc 1px dotted; MARGIN: 10px 0px -20px
}
#cities TH {
    LINE-HEIGHT: 1.6; TEXT-ALIGN: left
}
#cities TD {
    LINE-HEIGHT: 1.6; TEXT-ALIGN: left
}
#cities TH {
    BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: top; WIDTH: 65px; PADDING-TOP: 3px
}
#cities A {
    FONT-SIZE: 12px; MARGIN-RIGHT: 5px; WHITE-SPACE: nowrap
}
#filter A {
    WHITE-SPACE: nowrap
}
.follows .label {
    PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #e6f0d4; PADDING-BOTTOM: 3px; MARGIN: 2px 3px; COLOR: #999; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.follows .label EM {
    COLOR: #999; FONT-STYLE: normal
}
.follows .label A:hover {
    TEXT-DECORATION: none
}
.img {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px 20px 0px 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.favBtn {
    BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: left top; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; -moz-border-radius: 3px; -webkit-border-radius: 3px
}
.favBtn SPAN {
    DISPLAY: inline-block; BACKGROUND-IMAGE: url(../img/weicaozuo.v1_1.gif); VERTICAL-ALIGN: middle; WIDTH: 16px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.favBtn A {
    MARGIN: 2px 0px 0px 5px
}
.On#likeFollow SPAN {
    BACKGROUND-POSITION: 0px -17px
}
.Off#likeFollow SPAN {
    BACKGROUND-POSITION: 0px 0px
}
.On#expsFollow SPAN {
    BACKGROUND-POSITION: -16px -17px
}
.Off#expsFollow SPAN {
    BACKGROUND-POSITION: -16px 0px
}
.On#imgsFollow SPAN {
    BACKGROUND-POSITION: -32px -17px
}
.Off#imgsFollow SPAN {
    BACKGROUND-POSITION: -32px 0px
}
.On#contFollow SPAN {
    BACKGROUND-POSITION: -48px -17px
}
.Off#contFollow SPAN {
    BACKGROUND-POSITION: -48px 0px
}
.On#intvFollow SPAN {
    BACKGROUND-POSITION: -64px -17px
}
.Off#intvFollow SPAN {
    BACKGROUND-POSITION: -64px 0px
}
.On#shareFollow SPAN {
    BACKGROUND-POSITION: -80px 0px
}
.Off#shareFollow SPAN {
    BACKGROUND-POSITION: -80px 0px
}
.On#funnyShare SPAN {
    BACKGROUND-POSITION: -201px -56px; BACKGROUND-IMAGE: url(../img/allbgs_1.gif)
}
.Off#funnyShare SPAN {
    BACKGROUND-POSITION: -201px -56px; BACKGROUND-IMAGE: url(../img/allbgs_1.gif)
}
.sharing A {
    MARGIN-RIGHT: 10px
}
.sharing SPAN {
    DISPLAY: inline-block; BACKGROUND-IMAGE: url(../img/allbgs_1.gif); VERTICAL-ALIGN: middle; WIDTH: 16px; HEIGHT: 16px
}
.sharing SPAN.sina {
    BACKGROUND-POSITION: -201px -56px
}
.sharing SPAN.tqq {
    BACKGROUND-POSITION: -201px -75px
}
.sharing SPAN.Qzone {
    BACKGROUND-POSITION: -180px -57px
}
.sharing SPAN.renren {
    BACKGROUND-POSITION: -180px -76px
}
.floatTip {
    DISPLAY: none; MARGIN: 0px; WIDTH: 215px; POSITION: absolute
}
.floatTip P {
    PADDING-RIGHT: 10px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND: url(../img/followbuttontipsbg_1.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
.floatTip .btm {
    BACKGROUND-POSITION: 0px -245px; FONT-SIZE: 12px; LINE-HEIGHT: 1; HEIGHT: 30px; TEXT-ALIGN: right
}
#landingInfo {
    BORDER-RIGHT: #dcd9cb 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #dcd9cb 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; Z-INDEX: 100; RIGHT: 0px; BACKGROUND: #f5fff2; PADDING-BOTTOM: 8px; MARGIN: 1px; BORDER-LEFT: #dcd9cb 1px solid; BOTTOM: 0px; LINE-HEIGHT: 1; PADDING-TOP: 8px; BORDER-BOTTOM: #dcd9cb 1px solid; POSITION: fixed
}
* HTML {
    _background-image: url(about:blank); _background-attachment: fixed
}
* HTML BODY {
    _background-image: url(about:blank); _background-attachment: fixed
}
* HTML #landingInfo {
    _position: absolute; _right: auto; _bottom: auto
}
.primaryTabs {
    BORDER-RIGHT: #63b02d 1px solid; BORDER-TOP: #63b02d 1px solid; BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left top; BORDER-LEFT: #63b02d 1px solid; BORDER-BOTTOM: #63b02d 1px; HEIGHT: 38px
}
.primaryTabs A {
    PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left top; FLOAT: left; PADDING-BOTTOM: 5px; COLOR: #ffb; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.primaryTabs A:visited {
    PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left top; FLOAT: left; PADDING-BOTTOM: 5px; COLOR: #ffb; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.primaryTabs A:hover {
    COLOR: #ecec7f; TEXT-DECORATION: none
}
.primaryTabs A.actv {
    BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left -50px; COLOR: black; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.primaryTabs A.actv:visited {
    BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left -50px; COLOR: black; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.primaryTabs A.actv:hover {
    BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left -50px; COLOR: black; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.secondrayTabs {
    BORDER-RIGHT: #d3dbb6 1px solid; BORDER-TOP: #d3dbb6 1px solid; FONT-SIZE: 12px; BACKGROUND: url(../img/headerbg_1.jpg) repeat-x left -150px; BORDER-LEFT: #d3dbb6 1px solid; BORDER-BOTTOM: #d3dbb6 1px solid
}
.secondrayTabs A {
    PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 5px 0px 0px 2px; COLOR: black; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.secondrayTabs A:visited {
    PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 5px 0px 0px 2px; COLOR: black; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.secondrayTabs A:hover {
    COLOR: #06c
}
.secondrayTabs A.actv {
    BORDER-RIGHT: #d3dbb6 1px solid; BORDER-TOP: #d3dbb6 1px solid; FONT-WEIGHT: bold; BACKGROUND: #f0f9ef; BORDER-LEFT: #d3dbb6 1px solid; BORDER-BOTTOM: #d3dbb6 1px solid
}
.secondrayTabs A.actv:visited {
    BORDER-RIGHT: #d3dbb6 1px solid; BORDER-TOP: #d3dbb6 1px solid; FONT-WEIGHT: bold; BACKGROUND: #f0f9ef; BORDER-LEFT: #d3dbb6 1px solid; BORDER-BOTTOM: #d3dbb6 1px solid
}
#bobo IMG {
    BORDER-RIGHT: #f9b967 2px solid; BORDER-TOP: #f9b967 2px solid; FONT-WEIGHT: normal; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 2px; BORDER-LEFT: #f9b967 2px solid; BORDER-BOTTOM: #f9b967 2px solid; paddingt: 5px 0px 5px 0px
}
#filterTable TR {
    BACKGROUND: #effaea
}
#filterTable {
    BORDER-COLLAPSE: collapse
}
#filterTable TD {
    BORDER-RIGHT: #dbe2cb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dbe2cb 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dbe2cb 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #dbe2cb 1px solid
}
#subheader {
    BORDER-TOP-STYLE: none
}
.link {
    PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.link A {
    COLOR: #707070; LINE-HEIGHT: 20px
}
#InnerLink A {
    DISPLAY: inline-block; OVERFLOW: hidden; WIDTH: 122px; MARGIN-RIGHT: 12px; WHITE-SPACE: nowrap
}
#metaTable {
    border-collapse:collapse;
    padding-bottom:10px;
    margin-bottom:10px;
    width:540px;
}
#metaTable td{
    border:1px solid #E1E1E1;
    padding:2px 0px;
}
#metaTable td.short{
    width:270px;
}
#metaTable td label{
    display:inline-block;
    width:85px;
    text-align:right;
    white-space:nowrap;
}
#metaTable td span{

}
#header {
    position: relative;
    height: 68px;
}
#header #header_location {
    position: absolute;
    left: 120px;
    top: 25px;
    padding: 0 10px;
    border-left: 1px solid #C6C7B9;
}
#navi {
    position: relative;
    width:988px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: url(../img/headerbg_1.jpg) repeat-x left top;
    overflow: hidden;
}
#navi .b a, #navi .b a:visited {
    float: left;
    display: block;
    padding: 5px 12px 5px 10px;
    color: #FFFFBB;
    text-decoration: none;
}
#navi .b a:hover {
    color: #ecec7f;

}
#navi .b a.actv, #navi .b a.actv:visited {
    background: white;
    color: black;
}

#header_bar{
    background:#FFF;
    border-bottom:1px solid #CDCBBE;
}
#header_bar_inner{
    width:980px;
    margin:0 auto;
    font-size:12px;
    line-height:30px;
    height:30px;
    position:relative;
}
#header_bar_inner #header_links{
    position:absolute;
    right:0;
    bottom:0;
}
#bobo {
    width:auto;
    line-height: 35px;
    background-color: #FFFFE1;
    height: auto;
    border: 1px solid #F9B967;
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;}

#filterTable tr {
    background: #effaea;
}
#filterTable {
    border-collapse:collapse;
}
#filterTable td{
    border:1px #dbe2cb solid;
    padding:4px 4px 4px 10px;
}
